.welcome {
  margin-top: 300px;
  text-align: center;
}

.welcome .title {
  font-size: 5em;
}

.welcome .start-button {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.welcome .start-button:hover {
  background-color: rgba(255, 166, 0, 0.289);
  transition: 0.5s;
}
