.welcome-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
.welcome-title {
  font-size: 2.8em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.welcome-intro {
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 500px;
}

.welcome-form label {
  font-size: 1em;
  font-weight: 550;
  color: #676669;
  padding: 5px;
}

.welcome-form input {
  vertical-align: baseline;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  border-color: #c4d0e8;
  background-color: #c4d0e8;
  border-radius: 10px;
}
.button-start {
  font-size: 2em;
  padding: 20px 30px;
  margin: 10px 0px 10px 0px;
  border-radius: 30px;
  border: 0px;
  color: #d8dee7;
  background-color: #4576e7;
}
.welcome-div {
  border-radius: 30px;
  background-color: #e9eaed;
}

h1 {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 900;
}
img {
  width: 300px;
}
.welcome-lastdiv {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.welcome-lastdiv select {
  background-color: #c4d0e8;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  border-radius: 10px;
}
.div-language {
  margin-top: 10px;
  height: 50px;
  padding: 15px;
  background-color: #e9eaed;
  border-radius: 30px;
}

.wrapper {
  height: calc(100vh - 200px);
  min-height: 462px;
  display: flex;
  justify-content: center;
  align-items: center;
}
