.welcome-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  position: relative;
  top: 3rem;
}
.welcome-title {
  font-size: 4em;
  margin-top: 40px;
}

.welcome-intro {
  font-size: 1.5em;
  margin-top: 18px;
  margin-bottom: 50px;
  width: 500px;
}

.welcome-form label {
  font-size: 1em;
  font-weight: 550;
  color: #676669;
  padding: 5px;
}

.welcome-form input {
  vertical-align: baseline;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  border-color: #c4d0e8;
  background-color: #c4d0e8;
  border-radius: 10px;
}
.button-start {
  font-size: 2em;
  padding: 20px 30px;
  margin: 10px 0px 10px 0px;
  border-radius: 30px;
  border: 0px;
  color: #d8dee7;
  background-color: #4576e7;
}
.welcome-div {
  border-radius: 30px;
  background-color: #e9eaed;
}

h1 {
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 900;
}
img {
  width: 400px;
}
.welcome-lastdiv {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}
.welcome-lastdiv select {
  background-color: #c4d0e8;
  height: 25px;
  font-size: 20px;
  font-weight: 600;
  margin: 15px;
  border-radius: 10px;
}
.div-language {
  margin-top: 10px;
  height: 50px;
  padding: 15px;
  background-color: #e9eaed;
  border-radius: 30px;
}
