.over {
  position: relative;
  text-align: center;
  margin-top: 80px;
}

.over-title {
  font-size: 4em;
  margin-top: -20px;
}

.over-winner {
  font-size: 3em;
  margin-top: 10px;
}

.over-show {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.show-data {
  width: 400px;
  margin-left: 53px;
  margin-right: 40px;
}

.show-board {
  width: 400px;
  margin-left: 50px;
}

.mini-board {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 278px;
  margin-bottom: 30px;
}

.block.mini {
  width: 30px;
  height: 30px;
}

.mini-name {
  font-size: 1.5em;
}

.show-data .data-card {
  width: 350px;
}

.show-board .data-card {
  width: 350px;
}

.data-player {
  font-size: 2em;
  margin-bottom: 10px;
}

.data-card p {
  font-size: 1.3em;
  line-height: 1.6em;
}
